# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
weather_df=pd.read_csv('../WeatherPy/Output_Data/Cities.csv')

weather_df

,City,Cloudiness,Country,Date,Humidity (%),Latitude,Longitude,Max Temperature,Wind Speed (MPH)
0,Port Alfred,92,ZA,1584221806,86,-33.59,26.89,68.00,4.00
1,Punta Arenas,75,CL,1584221998,58,-53.15,-70.92,59.00,21.92
2,Choya,100,RU,1584222305,69,52.01,86.55,33.93,6.17
3,Arraial do Cabo,40,BR,1584222037,83,-22.97,-42.03,80.60,11.41
4,Berlevåg,93,NO,1584222086,74,70.86,29.09,22.05,28.68
...,...,...,...,...,...,...,...,...,...
592,Khartoum,94,SD,1584222236,14,15.55,32.53,75.20,13.87
593,‘Āhuimanu,90,US,1584222398,73,21.44,-157.84,82.40,6.93
594,Singkang,20,MY,1584222398,88,2.10,102.80,78.80,4.70
595,Korem,99,ET,1584222399,85,12.51,39.52,60.39,2.13
596,Ketchikan,1,US,1584222399,38,55.34,-131.65,39.20,13.87

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
#setup up gkey

gmaps.configure(api_key=g_key)

In [5]:
#setup the locations from the LAT and LONG  - Humidity is weight / size
locations= weather_df[['Latitude','Longitude']].astype(float)

humidity= weather_df['Humidity (%)'].astype(float)

In [6]:
fig = gmaps.figure()
heatmap_layer = gmaps.heatmap_layer(
    weather_df[['Latitude', 'Longitude']], weights=weather_df['Humidity (%)'],
    max_intensity=70, point_radius=7.0)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
weather_criteria_df = pd.DataFrame(weather_df, columns = ["City", 'Latitude','Longitude',"Max Temperature", "Wind Speed (MPH)", "Cloudiness",'Humidity (%)'])
weather_criteria_df

max_temp = (weather_criteria_df["Max Temperature"] <= 80) & (weather_criteria_df["Max Temperature"] > 70)
wind_mph = weather_criteria_df["Wind Speed (MPH)"] < 10
clouds = weather_criteria_df["Cloudiness"] == 0

mynew_weather_df = weather_criteria_df [ max_temp & wind_mph & clouds]
mynew_weather_df.head()

,City,Latitude,Longitude,Max Temperature,Wind Speed (MPH),Cloudiness,Humidity (%)
52,Banda Aceh,5.56,95.32,75.33,3.38,0,89
140,Richards Bay,-28.78,32.04,77.31,7.52,0,87
153,Kununurra,-15.77,128.73,75.20,3.27,0,94
199,San Rafael,-34.62,-68.33,71.01,7.70,0,19
274,Castro,-24.79,-50.01,73.17,2.06,0,59

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map